# 
# SCONS files
#
*.os
*.dylib
.sconsign.dblite
*.dll
*.pyc

#
# MonoDevelop files
#
*.pidb
*.userprefs

#
# VisualStudio files
#
*.suo
*.user
*.cachefile

UpgradeLog.XML
_UpgradeReport_Files

#
# Compiled C# results
#
obj
bin