# 
# SCONS files
#
*.os
*.dylib
.sconsign.dblite
*.dll
*.pyc

#
# MonoDevelop files
#
*.pidb
*.userprefs

#
# VisualStudio files
#
*.suo

UpgradeLog.XML
_UpgradeReport_Files

#
# Compiled results
#
obj
bin